// TODO
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts{
    max-width: 720px;
    margin: 48px auto 0;

    a{

        text-decoration: none;
        display: block;

        margin-top: 48px;

        strong,p,span,time{
            font-family: 'Inter';
        }

        strong{
            display: block;
            font-size: 28px;
            color: var(--heading);
            font-weight: bold;
            line-height: 2rem;
        }

        p {
            color: var(--body);
            font-size: 18px;
            line-height: 2rem;
            margin-bottom: .5rem;
            margin-top: .2rem;
        }
        span, time {
            color: var(--info);
        }
        span {
            margin-left: 1rem;
        }
    }

    .loadMorePosts {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 18px;
        color: var(--highlight);
        margin-top: 4rem;
    }

}